body {
    margin: 0;
     overflow: hidden;   /*This is used to hide scroll-bar */
     font-size: 14;
}

* {                             /* Here "*" is used because we have to apply this property for every division */
    box-sizing: border-box;     /* Border and padding including in screen-size */
}

.container{
    height: 100vh;
    /* border: 2px solid rgb(72, 0, 255); */
}

.title-bar{
    height: 4vh;
    /* border: 2px solid rgb(72, 0, 255); */
    background-color: #107c41;
    display: flex;  /* time frame for explanation 28:30*/
    flex-direction: row;  /* By Default */
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-bar{
    height: 5vh;
    /* border: 2px solid rgb(72, 0, 255); */
    background-color: #107c41;
    display: flex;
    
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 15px; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 18;
}

.menu-item.selected {
    background-color: #fff;
    color: #107c41;
}

.menu-item:hover {
    background-color: #136a3b;
    cursor: pointer;
}

.menu-item.selected:hover {
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar {
    height: 5vh;
    /* border: 2px solid rgb(72, 0, 255); */
    display: flex;
    align-items: center;
    background-color: rgb(241, 239, 239);  /* light grey */
}


.menu-icon {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover{
    background-color: lightgrey;
    cursor: pointer;
    
}

.font-family-selector{
    width: 170px;
}

.selector{
    height: 70%;
    font-size: 16px;
}

.selector option {
    font-size: 16px;
}

.formula-bar{
    height: 5vh;
    /* border: 2px solid rgb(72, 0, 255); */
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(241, 239, 239);
}

.formula-editor {
    height: 70%;
    border: 1px solid lightgrey;
    background-color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell {
    width: 120px;
}

.function-sign {
    width: 40px;
    justify-content: center;
    align-items: center;
}

.formula-input {
    width: calc(100vw - 160px);
    outline-color: #107c41;
}

.data-container{
    height: 77vh;
    /* border: 2px solid rgb(72, 0, 255); */
    display: flex;
    flex-wrap: wrap;
}

.select-all {
    width: 30px;
    height: 30px;
    border: 1px solid black;

}

.column-name-container {
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid red;
    display: flex;
    overflow: hidden;
}

.row-name-container {
    min-width: 30px;
    overflow: hidden;
    height: calc(77vh - 30px);
    border: 1px solid blue;
}

.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(77vh - 30px);
    border: 1px solid green;
    overflow: scroll;
}

.sheet-bar{
    height: 4vh;
    display: flex;
    align-items: center;
}

.scroller {
    width: 70px;
}

.icon-left-scroll, .icon-right-scroll {
    font-size: 30px;
}

.icon-left-scroll:hover, .icon-right-scroll:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.icon-add {
    color: #107c41;
    width: 40px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-tab-container {
    border: 1px solid lightgrey;
    width : calc(100vw - 110px);
}

.sheet-tab {
    border-bottom: 4px solid #107c41;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 80px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border-right: 1px solid lightgrey;
}

.sheet-tab:hover {
    cursor: default;
}

.column-name {
    font-weight: bold;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgrey;
}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 25px;
    border-bottom: 1px solid lightgrey;
}

.cell-row {
    display: flex;
}

.input-cell {
    min-width: 100px;
    min-height: 25px ;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    outline-color: #107c41;
}

.menu-icon.selected {
    background-color: lightgrey;
}

.input-cell.selected {
    border: 2px solid #107c41;
}

.input-cell.top-cell-selected {
    border-top: none;
}

.input-cell.bottom-cell-selected {
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected {
    border-right: 1px solid lightgray;
}

.input-cell.left-cell-selected {
    border-left: none;
}

